<div class="container">




  <div class="alert alert-info hidden-xs" role="alert" style="background-color: #F6914D; border-color: #F6914D; color: white;">
    <img src="https://libraries.io/assets/tidelift-small-320609bbe2086f5c36ab08d4d302b0867060b5d9a8c5af80ad1fc747c70d5d9b.png" width="36px" style="padding-right: 12px;" />
    Generate an open source software bill of materials.
    <strong>
      <a href="https://tidelift.com/subscription/free-trial/?utm_source=libraries&utm_medium=referral&utm_campaign=freetrial-1"
         target="_blank"
         style="text-decoration:underline;color: white;">
        Get started
      </a>
    </strong>

  </div>
  </div>
<div class="container">
  <h3>Tabs</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Menu 1</a></li>
    <li><a href="#">Menu 2</a></li>
    <li><a href="#">Menu 3</a></li>
  </ul>
  <br>
  <p><strong>Note:</strong> This example shows how to create a basic navigation tab. It is not toggleable/dynamic yet (you can't click on the links to display different content)- see the last example in the Bootstrap Tabs and Pills Tutorial to find out how this can be done.</p>
</div>

<div class="container">
    <p>Test</p>
</div>
